.roomHeader {
    color: orange;
}

#navBrand {
    font-size: 30px;
}

.bgImage {
    filter: blur(4px);
    -webkit-filter: blur(4px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 80%;
}

.center-title {
    font-size: 50px;
    top: 200px;
    position: absolute;
    z-index: 1;
}

.center-details {
    font-size: 20px;
    top: 300px;
    position: absolute;
    z-index: 1;
}

.header-row {
    text-align: center;
    vertical-align: middle;
}
